<div class="container-fluid p-0 m-0">
    <div class="service-section py-lg-4">
      <h2 class="text-center py-2 font-weight-bold position-relative m-auto">Our Services</h2>
      <div class="row d-flex justify-content-around align-items-center mt-4 mx-0" data-aos="fade-right" data-aos-duration="1000">
        <div class="col-lg-3 col-md-3 col-sm-3 text-center items mb-lg-5">
          <img src="/assets/images/hospital.png" alt="">
          <h6 class="py-3 font-weight-bolder">Hospital Laundry</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic corporis accusantium culpa commodi qui aperiam
            provident illum nesciunt deserunt quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            velit?</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center items mb-lg-5">
          <img src="/assets/images/5-stars.png" alt="">
          <h6 class="py-3 font-weight-bolder">Hotel</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic corporis accusantium culpa commodi qui aperiam
            provident illum nesciunt deserunt quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            velit?</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center items mb-lg-5">
          <img src="/assets/images/hostel.png" alt="">
          <h6 class="py-3 font-weight-bolder">Hostel</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic corporis accusantium culpa commodi qui aperiam
            provident illum nesciunt deserunt quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            velit?</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center items mb-lg-5">
          <img src="/assets/images/restaurant.png" alt="">
          <h6 class="py-3 font-weight-bolder">Restaurant</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic corporis accusantium culpa commodi qui aperiam
            provident illum nesciunt deserunt quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            velit?</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center items mb-lg-5">
          <img src="/assets/images/hair-salon.png" alt="">
          <h6 class="py-3 font-weight-bolder">Salon / Spa</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic corporis accusantium culpa commodi qui aperiam
            provident illum nesciunt deserunt quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            velit?</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center items mb-lg-5">
          <img src="/assets/images/school.png" alt="">
          <h6 class="py-3 font-weight-bolder">School Laundry</h6>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic corporis accusantium culpa commodi qui aperiam
            provident illum nesciunt deserunt quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            velit?</p>
        </div>
      </div>
      </div>
    </div>