<div class="container-fluid p-0 m-0">
    <div class="service-section py-lg-4 text-center align-content-center">
      <div class="d-flex justify-content-center align-items-center">
        <h2 class="text-center py-2 font-weight-bold position-relative">Our Services</h2>
      </div>
      <div class="row d-flex justify-content-around align-items-center mt-4 mx-0" data-aos="fade-right" data-aos-duration="1000">
        <div class="col-lg-3 col-md-5 col-sm-3 text-center items mb-lg-5">
          <img src="/assets/images/hospital.png" alt="">
          <h6 class="py-3 font-weight-bolder">Hospital Laundry</h6>
          <p>Hospital laundry services are essential operations within healthcare facilities, ensuring the cleanliness, sanitation, and availability of linens, uniforms, and other textile items used in medical settings</p>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-3 text-center items mb-lg-5">
          <img src="/assets/images/5-stars.png" alt="">
          <h6 class="py-3 font-weight-bolder">Hotel</h6>
          <p>Hotel laundry services are an essential part of hotel operations, providing cleanliness and convenience for guests. These services ensure that linens, towels, and guests' personal clothing are cleaned, pressed, and returned in a timely manner</p>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-3 text-center items mb-lg-5">
          <img src="/assets/images/hostel.png" alt="">
          <h6 class="py-3 font-weight-bolder">Hostel</h6>
          <p>Hostel laundry services are essential amenities provided in hostels, aimed at offering convenience and ensuring cleanliness for residents</p>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-3 text-center items mb-lg-5">
          <img src="/assets/images/restaurant.png" alt="">
          <h6 class="py-3 font-weight-bolder">Restaurant</h6>
          <p>Restaurant laundry services are specialized cleaning services that cater to the specific needs of restaurants. These services are essential for maintaining high standards of hygiene and cleanliness in the foodservice industry</p>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-3 text-center items mb-lg-5">
          <img src="/assets/images/hair-salon.png" alt="">
          <h6 class="py-3 font-weight-bolder">Salon / Spa</h6>
          <p>Salon and Spa services cater to personal care, grooming, relaxation, and beauty needs. These establishments offer a variety of treatments designed to enhance appearance, promote relaxation, and improve overall well-being.</p>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-3 text-center items mb-lg-5">
          <img src="/assets/images/school.png" alt="">
          <h6 class="py-3 font-weight-bolder">School Laundry</h6>
          <p>School laundry services provide professional cleaning and maintenance of various types of fabrics and clothing items used in educational institutions. These services are essential for maintaining hygiene, cleanliness, and the overall appearance of school uniforms, bed linens and other textiles.</p>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-3 text-center items mb-lg-5">
          <img src="/assets/images/school.png" alt="">
          <h6 class="py-3 font-weight-bolder">Domestic Laundry</h6>
          <p>Domestic laundry services provide professional cleaning and maintenance of various types of fabrics and clothing items used in educational institutions. These services are essential for maintaining hygiene, cleanliness, and the overall appearance of school uniforms, bed linens and other textiles.</p>
        </div>
      </div>
      </div>
    </div>