<div class="footer-container container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 footer-main-content">
            <h1>LaundryLUX</h1>
            <p> WHERE CLEANLINESS MEET EFFICIENCY</p>
            <p>Transforming the fabric of cleanliness
                and convenience revalutionizing The
                industry through sustainable practices
                and unparalleled service, ensuring that
                every customer’s experience exceeds
                expectations white creating a cleaner,
                greener future for all.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 services">
                    <h6>Services</h6>
                    <ul class="p-0 ">
                        <li><i class="fas fa-hospital"></i> <a href="/service" >Hospital Laundry</a></li>
                        <li><i class="fas fa-utensils"></i><a href="/service">Hotel & Restaurant </a></li>
                        <li> <i class="fas fa-hotel"></i><a href="/service">Hostel</a></li>
                        <li><i class="fas fa-cut"></i><a href="/service" >Salon/Spa</a></li>
                        <li><i class="fas fa-school"></i><a href="/service">School Laundry</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 services">
                    <h6>Quick Link</h6>
                    <ul class="p-0">
                        <li><i class="fas fa-home"  ></i><a href="" >Home</a></li>
                        <li><i class="fas fa-cogs" ></i><a href="/service"  >Services</a></li>
                        <li><i class="fas fa-info-circle"  ></i><a href="/aboutus" >About Us</a></li>
                        <li><i class="fas fa-envelope"></i><a href="/contactus" >Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 services">
                    <h6>Contact Us</h6>
                    <ul class="p-0">
                        <li> <i class="fas fa-mobile-alt"> </i>+91 8983048428</li>
                        <li><i class="fas fa-map-marker-alt"></i>
                            Plot no 35
                            Behind Manmode celebration
                            Old Hudkeshwar police station road(Pipla Road)
                            Pipla 440034
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="social-btn ">
    <h4>FOLLOW US ON</h4>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-whatsapp"></i>
</div>