<!-- 



<div class="container-fluid">
    <div class="footer-heading pt-2 text-center">
        <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <h3>SERVICES</h3>
             <ul>
                <li>Hospital Laundry</li>
                <li>Hotel</li>
                <li>Hostel</li>
                <li>Restaurant</li>
                <li>Salon/Spa</li>
                <li>School Laundry</li>
            </ul> 
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center">  
            <h3>ABOUT US</h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <h3>CONTACT US</h3>
        </div>
    </div>
    <div class=" main-container">
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="row">
                <div class="laundrylux-details col-sm-12  col-mg-6 pt-5 ">
    
                    <h1>LaundryLux</h1>
                    <span>World Best Laundry</span>
    
                    <div class="d-flex justify-content-center align-item-center address mt-2">
                        <h6>
                            <i class="fas fa-map-marker-alt pr-2 text-center"></i>
                        </h6>
                        <h6>
                            Sheikh firoz Sheikh Nasir, Second floor,
                            Plot No 141,Dattaray Nagar,Nagpur 440024,Maharashtra
                        </h6>
                    </div>
                    <div class="d-flex  align-item-center address">
                        <h6> <i class="fas fa-phone pr-2"></i> </h6>
                        <h6>8983048428</h6>
                    </div>
                    <div class="d-flex  align-item-center address">
                        <h6> <i class="fas fa-envelope pr-2"></i> </h6>
                        <h6>support@laundryholiclux.com</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6 footer-heading pt-2 text-center">
            <div class="row">
               <iframe 
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345093765!2d144.96305791567993!3d-37.81627974202121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf5778f865aa7b2a9!2sFederation%20Square!5e0!3m2!1sen!2sau!4v1644264783564!5m2!1sen!2sau" 
               width="auto"
               height="200px"
               style="border:0;" 
               allowfullscreen="" 
               loading="lazy">
             </iframe>
                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                   <div class="row ">
                    <h6>SERVICES</h6>
                    <ul>
                        <li>Hospital Laundry</li>
                        <li>Hotel</li>
                        <li>Hostel</li>
                        <li>Restaurant</li>
                        <li>Salon/Spa</li>
                        <li>School Laundry</li>
                    </ul>
                   </div>
                   
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 text-center"> 
                    <div class="row">
                        <h6>ABOUT US</h6>
                    </div> 
                 
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class="row">
                        <h6>CONTACT US</h6>
                    </div>
                    
                </div>
           
            </div>
       </div>
    </div>
</div>
<div class="social-btn ">
    <h4>FOLLOW US ON</h4>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-whatsapp"></i>
 
</div> -->

<div class="footer-container container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 footer-main-content pr-5">
            <h1>LaundryLUX</h1>
            <span> WHERE CLEANLINESS MEET EFFICIENCY</span>
            <p>Transforming the fabric of cleanliness
                and convenience revalutionizing The
                industry through sustainable practices
                and unparalleled service, ensuring that
                every customer’s experience exceeds
                expectations white creating a cleaner,
                greener future for all.</p>
              
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 services">
                    <h6><a>Services</a></h6>
                    <ul class="p-0 ">
                        <li> <a>Hospital Laundry</a></li>
                        <li><a>Hotel & Restaurant </a></li>
                        <li><a>Hostel</a></li>
                        <li><a>Salon/Spa</a></li>
                        <li><a>School Laundry</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 services">
                    <h6><a>Quick Link</a></h6>
                    <ul class="p-0">
                        <li><a routerLink="">Home</a></li>
                        <li><a routerLink="/service">Services</a></li>
                        <li><a  routerLink="/aboutus">About Us</a></li>
                        <li><a>Contact Us</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="social-btn ">
    <h4>FOLLOW US ON</h4>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-whatsapp"></i>
 
</div>