<div class="footer-container container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 footer-main-content pr-5">
            <h1>LaundryLUX</h1>
            <span> WHERE CLEANLINESS MEET EFFICIENCY</span>
            <p>Transforming the fabric of cleanliness
                and convenience revalutionizing The
                industry through sustainable practices
                and unparalleled service, ensuring that
                every customer’s experience exceeds
                expectations white creating a cleaner,
                greener future for all.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 services">
                    <h6><a>Services</a></h6>
                    <ul class="p-0 ">
                        <li><i class="fas fa-hospital"></i> <a routerLink="/service">Hospital Laundry</a></li>
                        <li><i class="fas fa-utensils"></i><a routerLink="/service">Hotel & Restaurant </a></li>
                        <li> <i class="fas fa-hotel"></i><a routerLink="/service">Hostel</a></li>
                        <li><i class="fas fa-cut"></i><a routerLink="/service" >Salon/Spa</a></li>
                        <li><i class="fas fa-school"></i><a routerLink="/service">School Laundry</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 services">
                    <h6><a>Quick Link</a></h6>
                    <ul class="p-0">
                        <li><i class="fas fa-home"  ></i><a routerLink="">Home</a></li>
                        <li><i class="fas fa-cogs" ></i><a  routerLink="/service">Services</a></li>
                        <li><i class="fas fa-info-circle"  ></i><a routerLink="/aboutus">About Us</a></li>
                        <li><i class="fas fa-envelope"></i><a routerLink="/contactus">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 services">
                    <h6><a>Contact Us</a></h6>
                    <ul class="p-0">
                        <li> <i class="fas fa-mobile-alt"> </i>+91 8983048428</li>
                        <li><i class="fas fa-map-marker-alt"></i>

                            Usquare Laundry Solutions pvt ltd
                            Second floor, Plot No 141, Dattaray Nagar, Nagpur 440024, Maharashtra
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="social-btn ">
    <h4>FOLLOW US ON</h4>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-whatsapp"></i>
</div>