a.navbar-brand {
    font-size: 28px !important;
    margin-left: 28px !important;
    color: white;
}
.style-header-nav{
    background-color: #001730;
   padding: 10px;
  }
  .navbar-toggler{
    background-color: white;
    margin: auto;
    font-size: small;
  }
  .cross{
    background: none;
    color: white;
    border: none;
    font-size: 30px;
    margin: auto;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
  }
