* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: rgb(255, 255, 255);
}

.main-container h2 {
    color: #001730;
}


.first i {
    margin: 10px;
    height: 35px;
    width: 35px;
    color: #001730;
    border: 1px solid rgb(156, 156, 156);
    padding: 10px 10px;
    border-radius: 100%;
}
.first i:hover {
    color:#001730;
    border: 1.5px solid #009675;
}
.first span,
.first a {
    text-decoration: none;
    color: rgb(63, 55, 55);
}



.first{
    background-color: #daebfc;
    border-radius: 10px;
    color: black;
}

.second input,
.second textarea {
    width: 100%;
    border: 2px solid #001730;
    margin: 10px 0px;
    border-radius: 5px;
    outline: #009675;
    background-color: rgb(250, 253, 255);
}

.contact-submit-btn {
    background-color: #001730;
    color: white;
    border: none;
    border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .first {
        width: 30%;
        font-size: 14px;
    }
}