<div class="container-fluid main-container">
    <div class="row d-flex justify-content-evenly align-items-center m-auto">
        <div class="col-lg-2 col-md-2 col-sm-12 first">
            <a href="https://www.google.co.in/maps/place/Laundryholic/@21.1184589,79.1117509,17z/data=!4m14!1m7!3m6!1s0x3bd4b90074eed115:0x54bd0e3ede6728cf!2sLaundryholic!8m2!3d21.1184589!4d79.1143258!16s%2Fg%2F11vj_hzsrf!3m5!1s0x3bd4b90074eed115:0x54bd0e3ede6728cf!8m2!3d21.1184589!4d79.1143258!16s%2Fg%2F11vj_hzsrf?entry=ttu"
                class=""><i class="fa fa-map-marker"></i><span>
                    India</span></a><br>
            <i class="fa fa-phone"></i><span>8329904783</span><br>
            <a href="https://mail.google.com/mail/u/0/#inbox"><i
                    class="fa fa-envelope"></i></a><span>gopibramhan@gmail.com</span>
        </div>
        <div
            class="col-lg-8 col-md-8 col-sm-12 second my-5">
            <div class="px-4 py-4">
                <h2 class="fw-bold text-center">Contact Us</h2>
                <p class="fw-lighter text-dark text-center mt-2">Email us and keep upto date with our latest news</p>

                <form   class="mt-4">

                    <input class="px-3 py-3" type="text" placeholder="First Name">

                    <input class="px-3 py-3" type="text" placeholder="Last Name">
                    

                    <input class="px-3 py-3" type="email" placeholder=" Your Email Address">
                   

                    <input class="px-3 py-3" placeholder=" Mobile Number">
                  

                    <textarea class="px-3 py-3" placeholder=" Text here"></textarea>
                   

                    <div class=" d-flex justify-content-center align-items-center mt-4">
                        <button type="submit" class="contact-submit-btn px-5 py-2">Send
                            Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>